<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nemo
        dignissimos recusandae, odio expedita vel obcaecati odit voluptatem
        perspiciatis voluptate eos explicabo iste vero, placeat laboriosam
        facere delectus error. Delectus?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
